Class and OOPS

In [48]:
class Emp():
    v1 = 10

    def first_fun(self):
         self.v2=20
         print("Function 1 : ", self.v2)
         print("Global variable v1 val : ",self.v1)
         return True

    def second_fun(self,ar1,ar2):

        a = ar1
        b = ar2

        add = a+b+self.v2 # if we want to access outside scopr var then use self.var
        return add
              

obj1 = Emp()

print(obj1.v1)

print(obj1.first_fun())

print(obj1.second_fun(500,600))

print(obj1.v2)

print(Emp.v1)

10
Function 1 :  20
Global variable v1 val :  10
True
1120
20
10

In [217]:
class Employee():
    reg_No = 100
    age = 40
    dept = 'Testing'

    address = {
        'street' : '234 Turnpike Road',
        'city' : 'Westborough',
        'state' : 'MA'
    }

    def __init__(self):

        print("Welcome To Org")
        self.categ = 'IT'
    
    def salary(self,bp,allow):

        k = bp+allow

        print(f"Salary before tax : {k}")

        self.tax =  4000

        final_sal = k-self.tax

        return f"Salary after tax: {final_sal}"         

    
obj1 = Employee()
print("##############################################################")
print(f"Reg No : {obj1.reg_No}  , Age : {obj1.age} , Department : {obj1.dept} ")

print(obj1.categ)
print("##############################################################")
print(obj1.salary(100000,5000))


print(f"Tax detected : {obj1.tax}")

#print(obj1.address.keys())

street = obj1.address.values()
state1 = obj1.address.values()
street = list(street)
state1 = list(state1)

street = street[0]
print("##############################################################")
print(f"Employee address : {street}")
state1 = state1[2]
print("##############################################################")
print(f"Employee State : {state1}")

Welcome To Org
##############################################################
Reg No : 100  , Age : 40 , Department : Testing
IT
##############################################################
Salary before tax : 105000
Salary after tax: 101000
Tax detected : 4000
##############################################################
Employee address : 234 Turnpike Road
##############################################################
Employee State : MA

In [31]:
class A():
    a = 10

    def AA(self):
        self.a = 20
        return f"first function called then variable called {self.a}"
ob = A()
print(ob.a)
print(ob.AA())
print(ob.a)
print(ob.AA())

10
first function called then variable called 20
20
first function called then variable called 20

In [ ]:
emp4 =  Details()
emp4.Details('test',22,'email')

In [29]:
var = 5

print(type(var))

<class 'int'>