In [1]:
from Module import addition

ModuleNotFoundError: No module named 'Module'

In [3]:
import module  as m

m.multiplication(3,2)

ModuleNotFoundError: No module named 'module'

In [2]:
multiplication(23,2)

NameError: name 'multiplication' is not defined

6. Create a python if-else program to check whether the given number is an armstrong 
number or not, and check whether the given number is a prime number or not. Make 
use of python if-else, and elif statements for the same.

In [4]:
# a number that is equal to the sum of its own digits, each raised to the power of the number of digits.
# 153 = 1 **3 + 5**3 + 3 **3
1 **3 + 5**3 + 3 **3

153

In [43]:
num1 = int(input("Enter the number"))

s1 = str(num1)
# print(s1)
l = len(s1)
sum = 0
for num in s1:
    # print(num)
    sum = sum + int(num) ** l

if sum == num1:
    print(f"{num1} is an armstrong number")

else:
    print(f"{num1} is not an armstrong number")

Enter the number 153

153 is an armstrong number

In [23]:
# sum = 126 -> 153
# 0 + 1**3 
# 1 + 5 **3
126 + 3 ** 3

153

In [25]:
for i in "153":
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [13]:
num = 153
s1 = str(num)
l = len(s1)
print(s1)

153

In [36]:
num1 = 153
digits = str(num1)
# print(digits)
# print(type(digits))
l = len(digits)
sum = 0
for num in digits:
    print(num)
    sum = sum + num ** l

1
5
3

In [40]:
# sum = 1 ,126
# 0 + 1 ** 3
1 + 5 **3

126

In [33]:
# 153 = 1 **3 + 5**3 + 3 **3
1 **3 + 5**3 + 3 **3
for num in "153":
    print(i)
    sum = sum

1
5
3

In [71]:
num = int(input("Enter a number"))

for i in range(2,num):
    print(i)
    if num % i == 0:
        print(num, "is not a prime number")
        break

else :
    print(num, "is a prime number")

Enter a number 8

2
8 is not a prime number

7. Create a calculator program for addition, subtraction, multiplication and floor division. 
Take the inputs from the user, and based on the choice of operation, return the results.

In [9]:
def addition(a,b):
    print(a + b)

def subtraction(a,b):
    print(a - b)

def multiplication(a,b):
    print(a * b)

def division(a,b):
    print(a // b)

division(14,3)
multiplication(5,2)

a = int(input("Enter the 1st value"))
b = int(input("Enter the 2nd value"))
op = input("Enter a for addition, b for substraction, c for multiplication")

if op == 'a':
    addition(a,b)
elif op == 'b':
    substraction(a,b)

elif op == 'c':
    multiplication(a,b)

else:
    print("Wrong Input")
# division(a,b)
# multiplication(a,b)

4
10

Enter the 1st value 10
Enter the 2nd value 5
Enter a for addition, b for substraction, c for multiplication g

Wrong Input

8. Create a nested dictionary with values as a nested list for each key in the dictionary.

In [10]:
d1 = {
    'Name_Employees' : ['Manvi','Rahul',['Suchitra','Ramakrishnan'],'Mohammed'],
    'emp_details': ['address','phone','pincode','email']
}
print(d1)

{'Name_Employees': ['Manvi', 'Rahul', 'Suchitra', 'Ramakrishnan', 'Mohammed'], 'emp_details': ['address', 'phone', 'pincode', 'email']}

9. Create two sets and perform the following:

a. Union of the two sets

b. Intersection of the two sets

In [11]:
# Union -> all values from s1 and s2 without duplicates
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}
s1.union(s2)

{10, 20, 30, 40, 50, 60, 70, 80}

In [12]:
# Intersection -> common values from both the set
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}
s1.intersection(s2)

{40, 50}

10. Create a nested tuple from the dictionary, with each item in the tuple as a key value pair 
from the dictionary.

In [17]:
d1 = {
    "name" : "Nagaraj",
    "email": "n@gmail.com",
    "phone" : 112233
}
tuple(d1.items())
# d1.items()

(('name', 'Nagaraj'), ('email', 'n@gmail.com'), ('phone', 112233))

11. Create a list of the first 50 even natural numbers, and perform the following operations.
c. Count the number of elements in the list.
d. Reverse the sequence of the list.
e. Sort the list in ascending and descending order.
f. Get the index value for the element 44, and update the element with the number 
100.

In [13]:
# li = [2,4,6------]
li = []
for abc in range(0,100):
    if abc%2 == 0:
        # print(abc)
        li.append(abc)

print(li)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [14]:
print(len(li))

50

In [15]:
# d. Reverse the sequence of the list.
print(li[::-1])

[98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [16]:
# e. Sort the list in ascending and descending order.
li.sort()
print(li)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [17]:
li.sort(reverse = True)
print(li)

[98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [18]:
li.index(44)

27

In [22]:
li[27] = 100
print(li)

[98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 100, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

12. Create a nested dictionary and perform the following operations.
g. Return a list with the key value pairs from the dictionary.
h. Return a list with just the keys from the dictionary.
i. Remove the first and last key value from the dictionary.
j. Update the last key value pair in the dictionary after removing in the 3rd step.

In [34]:
dict ={
    'dict1' : {'key1':'value1','key2':'value2'},
    'dict2' : {'key3':'value3','key4':'value4'},
    'dict3' : {'key5':'value5','key6':'value6'}
}
print(dict)

{'dict1': {'key1': 'value1', 'key2': 'value2'}, 'dict2': {'key3': 'value3', 'key4': 'value4'}, 'dict3': {'key5': 'value5', 'key6': 'value6'}}

In [25]:
# g. Return a list with the key value pairs from the dictionary.
dict.items()

dict_items([('dict1', {'key1': 'value1', 'key2': 'value2'}), ('dict2', {'key3': 'value3', 'key4': 'value4'}), ('dict3', {'key5': 'value5', 'key6': 'value6'})])

In [36]:
# h. Return a list with just the keys from the dictionary.
dict.keys()

dict_keys(['dict1', 'dict2', 'dict3'])

In [37]:
dict.values()

dict_values([{'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'}, {'key5': 'value5', 'key6': 'value6'}])

In [38]:
# i. Remove the first and last key value from the dictionary.
dict.pop('dict1')
dict

{'dict2': {'key3': 'value3', 'key4': 'value4'},
 'dict3': {'key5': 'value5', 'key6': 'value6'}}

In [39]:
li = list(dict.keys())
li

['dict2', 'dict3']

In [5]:
li

NameError: name 'li' is not defined

In [40]:
li[1]

'dict3'

In [41]:
print(dict.pop(li[1]))

{'key5': 'value5', 'key6': 'value6'}

In [42]:
dict

{'dict2': {'key3': 'value3', 'key4': 'value4'}}

In [43]:
# j. Update the last key value pair in the dictionary after removing in the 3rd step.
dict['dict3'] = {'key5': 'value5', 'key6': 'value6'}
dict

{'dict2': {'key3': 'value3', 'key4': 'value4'},
 'dict3': {'key5': 'value5', 'key6': 'value6'}}

13. For the given strings A = “Python Programming Language”, B = “Best in the World” , perform 
the following operations.
k. Using indexing operations, get the text “gram” from the string A.
l. Using indexing operations, get the text “World” from the string B.
m. Change the letters in both strings to Uppercase letters.
n. Concatenate the two strings

In [44]:
A = "Python Programming Language"
B = "Best in the World"

In [45]:
# k. Using indexing operations, get the text “gram” from the string A.
A[10:14]

'gram'

In [46]:
# l. Using indexing operations, get the text “World” from the string B.
B[-5:]

'World'

In [47]:
# m. Change the letters in both strings to Uppercase letters.
A.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [49]:
# n. Concatenate the two strings
A +" "+ B

'Python Programming Language Best in the World'

In [ ]:
li = []
for abc in range(0,100):
    if abc%2 == 0:
        li.append(abc)

print(li)

In [52]:
len = int(input("How many number you want to input"))

li =[] 
for i in range(len):
    # print(i)
    num = int(input("Enter a number"))
    # print(num)
    li.append(num)
print(li)

How many number you want to input 4
Enter a number 45
Enter a number 67
Enter a number 78
Enter a number 45

[45, 67, 78, 45]

In [57]:
d1 = {
    "name" : "Nagaraj",
    "email": {"n@gmail.com":12},
    "phone" : 112233
}
for i,j in d1.items():
    print(f"The key is {i} and the value is {j}")

The key is name and the value is Nagaraj
The key is email and the value is {'n@gmail.com': 12}
The key is phone and the value is 112233

For a given list that contains numbers from 1 to 20. Using a for loop, create a new list that contains the square of each element from the given list.

2.	A tuple contains even numbers from 1-20. Display all the items in a tuple using a for loop.

3.	Print the first 5 multiples of a user input number using a for loop.
   
4.	Create a nested for loop to print a 90 degree right angle triangle pattern program in python.

In [7]:
dict ={
    'dict1' : {'key1':'value1','key2':'value2'},
    'dict2' : {'key3':'value3','key4':'value4'},
    'dict3' : {'key5':'value5','key6':'value6'}
}
print(dict)

{'dict1': {'key1': 'value1', 'key2': 'value2'}, 'dict2': {'key3': 'value3', 'key4': 'value4'}, 'dict3': {'key5': 'value5', 'key6': 'value6'}}

In [11]:
dict.items()

dict_items([('dict1', {'key1': 'value1', 'key2': 'value2'}), ('dict2', {'key3': 'value3', 'key4': 'value4'}), ('dict3', {'key5': 'value5', 'key6': 'value6'})])

In [19]:
li = dict.items()

print(type(li))

<class 'dict_items'>

In [21]:
dict.values()

dict_values([{'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'}, {'key5': 'value5', 'key6': 'value6'}])

In [33]:
e = dict.keys()

In [35]:
print(type(dict.keys()))

<class 'dict_keys'>

AttributeError: 'dict_keys' object has no attribute 'index'

In [46]:
class Student:
    regno = 123

    def myfun(self):
        
        print("raju")
        t = 8
        print(t)

ob = Student()
ob1 = Student()
print(ob.regno)
ob.myfun()

print(ob)

print(ob1)

123
raju
8
<__main__.Student object at 0x00000236D08A0B00>
<__main__.Student object at 0x00000236D08A07A0>

In [25]:
print(type(Student))

<class 'type'>