Python Basics

In [10]:
# Print comments
"""
This is to print
"""

print ("Nagu")

Nagu

In [18]:
str = "Nagu"
len(str)

4

In [30]:
tup = ('a',3,'r','t',6)

print(tup)

('a', 3, 'r', 't', 6)

In [32]:
t = (2,3,4,5)

t*2

(2, 3, 4, 5, 2, 3, 4, 5)

In [34]:
type(tup)

tuple

In [36]:
tup[0]

'a'

In [38]:
type(tup[1])

int

In [3]:
true = 3
print(true)

3

String Function

In [6]:
#String Length
s="Nagu Raju"
print(len(s))

9

In [7]:
# Sub String
s1="Nagu Raju"
s2="  Nagu Raju  "
s3="sanav/krish/vini"
s4="joghee"
a=2
b=3
print(s1[:5])
print(s1[5:])
print(s1[:+1])
print(type(s1[:]))

# :: the its order 
# String reverse
print(s1[::-1])

# String format
print (f"my val : {a+b}")

# Upper and Lower
print (s1.upper())
print (s1.lower())

#Trim
print (s2.strip())

# Replace
print (s2.replace("R","r")) 

#Split
print (s3.split("/")) 

print (s3.split("/")) 


#FInd String
print (s4.find('jo')) 


# Capitalize 

text = "Nagu, sanav!"
capitalized_text = text.capitalize()

print(capitalized_text)  

# Count
text = "Hey, Nagu! Nagu is cool!"
count = text.count("o")
count1 = text.count("Nagu")
count3 = text.count("cool")
print(count) 
print(count1)
print(count3)

Nagu
Raju
N
<class 'str'>
ujaR ugaN
my val : 5
NAGU RAJU
nagu raju
Nagu Raju
  Nagu raju
['sanav', 'krish', 'vini']
['sanav', 'krish', 'vini']
0
Nagu, sanav!
2
2
1

In [92]:
text = "hello, world!"
text1 = "hai"
reversed_text = ""
newtest =""

for char in text:
    reversed_text = char + reversed_text
    newtest = text + text1

print(reversed_text)  

print(newtest)

!dlrow ,olleh
hello, world!hai

In [31]:
s4="joghee"

#FInd index
s4.find('jo')

0

In [27]:
int("23")

23

In [33]:
int("nagu")

ValueError: invalid literal for int() with base 10: 'nagu'

In [35]:
float('34.66')

34.66

In [37]:
str(23)

'23'

In [39]:
5%2

1

In [45]:
25%7

4

In [49]:

10**4

10000

In [51]:
9>12<2

False

In [53]:
45=="45"

False

In [61]:
lis =[12.23,45,'hello',34]

In [63]:
print(lis)

[12.23, 45, 'hello', 34]

In [75]:
lis[::]

[12.23, 45, 'hello', 34]

In [77]:
lis.pop()

34

In [85]:
lis1 = [34,78,89.77]

lis.append(lis1)

print(lis)

[12.23, 45, 'hello', [34, 78, 89.77], [34, 78, 89.77], [34, 78, 89.77], [34, 78, 89.77]]

In [87]:
lis.pop()

[34, 78, 89.77]

In [89]:
lis

[12.23, 45, 'hello', [34, 78, 89.77], [34, 78, 89.77], [34, 78, 89.77]]

In [93]:
tup = (12.34,55,67,78,(23,55,77))
tup[4][-1]

77

In [97]:
tup = (12.34,55,67,78,77)

tup.index(55)

1

In [101]:
i=1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [103]:
for  i in "nagu":
    print(i)

n
a
g
u

In [107]:
s = {34,50,40,70}
for  i in s:
    print(i)

40
34
50
70