<h1>Python</h1>

-> popular programming Language

-> Guido Van Rossum and released in 1991.

-> named after British Comedy Show ->Monty Python's Flying Circus

-> High Level programming lang ->Human can understand

-> Interpreted lang -> it checks the code line by line

In [9]:
print("Good Morning!!!")
# 01110000011100100110100110010110111000010101011010

Good Morning!!!

2 Types of lang :- High Level lang

                   Low level lang ->Machine lang/Binary lang(0 & 1's)

In [7]:
print("Hello Everyone")
print("Hello Everyone")
print("Hello Everyone")
print("Hello Everyone")
prit("Hello Everyone")
print("Hello Everyone")
print("Hello Everyone")

Hello Everyone
Hello Everyone
Hello Everyone
Hello Everyone

NameError: name 'prit' is not defined

Features of Python : - 
1. Syntax easy and easy to read
2. Dynamically types : -   
3. Extensive Libraries
4. Cross - Platform(Windows, MAC, Linux etc)
5. OOPS(Object Oriented programming lang)

<h2>Comments</h2>

In [17]:
# This code is for greeting
# ctrl + / - >Keyboard shortcut
print("Hello Everyone!! Hope you all are good :)")

Hello Everyone!! Hope you all are good :)

In [19]:
# Multi lIne comment
"""
Welcome to GDB Online.
GDB online is an online compiler and debugger tool for C, C++, Python, Java, PHP, Ruby, Perl,
C#, OCaml, VB, Swift, Pascal, Fortran, Haskell, Objective-C, Assembly, HTML, CSS, JS, SQLite, Prolog.
Code, Compile, Run and Debug online from anywhere in world.
"""

'\nWelcome to GDB Online.\nGDB online is an online compiler and debugger tool for C, C++, Python, Java, PHP, Ruby, Perl,\nC#, OCaml, VB, Swift, Pascal, Fortran, Haskell, Objective-C, Assembly, HTML, CSS, JS, SQLite, Prolog.\nCode, Compile, Run and Debug online from anywhere in world.\n'

<h2>Variables</h2>

-> containers for storing data values

-> needs no command to declare a variable

In [5]:
abc = 23

a = 10
b = 20

print("abc")
print(abc)

var = "Manvi"
print(var)

abc
23
Manvi

Rules for defining a variable:-

1. var name can start with a letter or _(underscore)
2. var name canot start with a number.
3. can contain alpha-numeric
4. Case-sensitive
5. cannot be python keywords

In [6]:
_num = 56
print(_num)

56

In [7]:
12num = "Manvi"
print(12num)

SyntaxError: invalid decimal literal (3059916432.py, line 1)

In [9]:
num1 = 23
print(num1)

23

In [13]:
Num11 = "hello"
NuM11 = "Everyone"
num11 = 67
print(NuM11)

Everyone

In [14]:
import keyword
a = keyword.kwlist
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
import = 56
print(import)

SyntaxError: invalid syntax (1737437835.py, line 1)

In [18]:
False = "Hello"
print(False)

SyntaxError: cannot assign to False (2017886363.py, line 1)

<h2>Python Data Types</h2>
Numeric

In [24]:
# Integer -> positive or negative whole numbers

num1 = 24
num2 = -56
print(num1)
print(num2)
print(type(num1))
print(type(num2))

24
-56
<class 'int'>
<class 'int'>

In [25]:
num1 = 78.98
num2 = -56.01
print(num1)
print(num2)
print(type(num1))
print(type(num2))

78.98
-56.01
<class 'float'>
<class 'float'>

In [27]:
#complex numbers -> (real part)+(imaginary part)j
var = 45 + 67j
print(var)
print(type(var))

(45+67j)
<class 'complex'>

In [30]:
# Boolean -> two built-in values 
abc1 = True
print(abc1)
print(type(abc1))

print(type(False))

True
<class 'bool'>
<class 'bool'>

In [31]:
34 > 56

False

<h4>Strings</h4>

In [35]:
str1 = "Hello"
num = '56'
var = "Good 23"
var2 = "Neha@gmail.com"
print(str1)
print(num)
print(var)
print(var2)
print(type(str1))
print(type(num))
print(type(var))
print(type(var2))

Hello
56
Good 23
Neha@gmail.com
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [45]:
#string length
a = "hello $$  1234"
len(a)

14

In [ ]:
# Indexing in string
# Positive Indexing
H  e  l  l   o
0  1  2  3   4

In [48]:
ab = "Hello"
print(ab[1])
ab[4]

e

'o'

In [117]:
# range -> [start : end +1]
a = "Good Morning!!"
a[1]
a[7]
a[1 : 7]

'ood Mo'

In [84]:
a = "Good@ Morning!1@@@@"
# a[3:]
# a[:7+1]
a[14]

'1'

In [ ]:
# Negative Indexing
H   e  l  l   o
-5 -4 -3 -2  -1

In [95]:
# range -> [start : end +1]
abc = "hellofgbgfb"
abc[-4]
abc[-3]
abc[-10:]
abc[ :-2]
abc[ : ]

'hellofgbgfb'

In [9]:
str ="Good@ Morning!! How are you all??"
str[2]
str[-3]
str[2:-3+1]

str[:4][1:3]

'oo'

In [104]:
str ="Good@ Morning!! How are you all??"
str[::-1]

'??lla uoy era woH !!gninroM @dooG'

In [110]:
# string formatting
nm1 = "Suraj"
age12 = 45
print(f"My name is {nm1} and age is {age12}")
print("My name is ",nm1 ,"and age is ",age12)

My name is Suraj and age is 45
My name is  Suraj and age is  45

In [125]:
# String Function

nm1 = "Suraj"
len(nm1)

a = "hello WORLd"
print(a.upper())
print(a.lower())
print(len(a))

var = a.strip()
len(var)

print(a.replace("l","@"))

HELLO WORLD
hello world
11
he@@o WORLd

In [124]:
a = "hello WORLd"
ab = "hello.WORLd"
print(a.split(" "))
print(ab.split("."))

['hello', 'WORLd']
['hello', 'WORLd']

In [127]:
#capitalize , count etc....

In [4]:
# find()-> finds the index of 1st occuring element
a = "hello WORLod"
index = a.find('o')
print(index)
# a[4]

4

'o'

<h2>Type conversion</h2>

In [2]:
num1 = 23
num2 = 23.67
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [12]:
x = int(num2)
print(x)
print(type(x))

y = float(34)
print(y)
print(type(y))

z = int("36")
print(z)
print(type(z))

a = str(34)
print(a)
print(type(a))

print(bool(""))
print(bool("13"))

23
<class 'int'>
34.0
<class 'float'>
36
<class 'int'>
34
<class 'str'>
False
True

In [13]:
str = "67
print(str)
print(type(str))
z = int(str)
print(z)
print(type(z))

67
<class 'str'>
67
<class 'int'>

In [16]:
"67" + 5

TypeError: can only concatenate str (not "int") to str

In [18]:
str  = 'This is "The book"'
print(str)

This is "The book"

<h2>Operators</h2>
symbols that perform some kind of operation between variables

1. Arithmetic  -> +, - ,*,/
                  // -> floor division
                  % -> modulus -> gives the remainder
                  ** -> exponential

In [25]:
                  # // -> floor division
print(45/3)
print(45//2)

15.0
22

In [28]:
25%7

4

In [30]:
# 2**3 -> 
2 *2 *2

8

In [33]:
2**3
10**4

10000

In [43]:
# Comparison -> always gives ans in boolean
# <,>, <=, >= ,== ,!=
print(34 > 4)
print("45" != 45)

True
True

In [39]:
# x = 10 
print(5 < 10 < 15)

True

In [46]:
# Logical ->and , or , not
a = 10 
b = 20
c = 5
print(a < b and a < c )
print(a < b or a < c )

False
True

In [48]:
a = False
print(not a)

True

In [53]:
# Membership -> in , not in 
var = [34,56,67,45]
print(var)

print(78 in var)
print(67 not in var)

[34, 56, 67, 45]
False
False

Q: Write a Python program which performs add,sub,division and mul of two USER input numbers and print the result.

Q: Write a Python program to reverse a string.

Q: Write a Python program to last 10 characters from the given sting. A = 'Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.'

<h2>List</h2>
to store multiple value in a single variable

ordered , changeable and list allow duplicates

In [56]:
li = [45,32,45,78,32,89,45,78,45]
print(li)
print(type(li))

[45, 32, 45, 78, 32, 89, 45, 78, 45]
<class 'list'>

In [69]:
li = [45,32,45,78,32,89,45,78,45]
li[3] = "abc"
li

[45, 32, 45, 'abc', 32, 89, 45, 78, 45]

In [59]:
li = ['apple', 'banana','mango',45.67,12.45,78,'apple',32,10,False,2,3,4,'apple']
print(li)
print(type(li))

['apple', 'banana', 'mango', 45.67, 12.45, 78, 'apple', 32, 10, False, 2, 3, 4, 'apple']
<class 'list'>

In [65]:
li = ['apple', 'banana','mango',1,2,3,4]
li[1]
li[-2]
li[1:-3+1]
li[::-1]

[4, 3, 2, 1, 'mango', 'banana', 'apple']

In [61]:
str = "Hello"
str[-1]

'o'

In [71]:
li = ['apple', 'banana','mango','cherry','watermelon']
li.insert(2,'orange')#at a specified index
li

['apple', 'banana', 'orange', 'mango', 'cherry', 'watermelon']

In [72]:
li = ['apple', 'banana','mango','cherry','watermelon']
li.append("strawberry")#add the element at the end
li

['apple', 'banana', 'mango', 'cherry', 'watermelon', 'strawberry']

In [73]:
#Extend
li1 = ['apple', 'banana','mango','cherry']
li2 = ['watermelon', 'strawberry']
li1.extend(li2)
li1

['apple', 'banana', 'mango', 'cherry', 'watermelon', 'strawberry']

In [74]:
li1 = ['apple', 'banana','mango','cherry']
li2 = ['watermelon', 'strawberry']
li1.append(li2)
li1

['apple', 'banana', 'mango', 'cherry', ['watermelon', 'strawberry']]

In [75]:
li= ['apple', 'banana', 'mango', 'cherry', 'watermelon', 'strawberry']
li.remove("watermelon")
li

['apple', 'banana', 'mango', 'cherry', 'strawberry']

In [76]:
li= ['apple', 'banana', 'mango', 'cherry', 'watermelon', 'strawberry']
li.pop(1)
li

['apple', 'mango', 'cherry', 'watermelon', 'strawberry']

In [77]:
li= ['apple', 'banana', 'mango', 'cherry', 'watermelon', 'strawberry']
li.pop()#by dfault it removes the element at the end
li

['apple', 'banana', 'mango', 'cherry', 'watermelon']

In [78]:
li= ['apple', 'banana', 'mango', 'cherry', 'watermelon', 'strawberry']
li.sort()
li

['apple', 'banana', 'cherry', 'mango', 'strawberry', 'watermelon']

In [81]:
li = [45,32,45,78,32,89,45,78,45,45]
li.sort()
li

[32, 32, 45, 45, 45, 45, 45, 78, 78, 89]

In [84]:
li = [45,32,45,78,32,89,45,78,45,45]
li.sort(reverse = True)
li

[89, 78, 78, 45, 45, 45, 45, 45, 32, 32]

In [ ]:
#HW -> function

In [95]:
li= [12,3,4,5,6,[87,90,89,['apple', 'banana', 'cherry'],67,34,12]]
li[-1][3][-1]

'cherry'

Write a Python program to create a list and print its elements.
Write a Python program to add an element to the end of a list.
Write a Python program to insert an element at a specific position in a list.
Write a Python program to remove an element from a list.
Write a Python program to find the index of an element in a list.
Write a Python program to sort a list in ascending order.
Write a Python program to sort a list in descending order.
Write a Python program to reverse the elements of a list.
Write a Python program to find the maximum and minimum elements in a list.
Write a Python program to remove duplicates from a list.

<h2>Tuple</h2>
ordered , unchangeable , allow duplicates

In [124]:
tup12 = (23,4,56,7,8)
print(tup12)
print(type(tup12))

(23, 4, 56, 7, 8)
<class 'tuple'>

In [97]:
tup = (23,4,56,7,8,'apple','mango',False)
print(tup)

(23, 4, 56, 7, 8, 'apple', 'mango', False)

In [102]:
tup = (23,4,56,7,8,'apple','mango',False)
tup[-2]
tup[1:-3+1]
tup[::-1]

(False, 'mango', 'apple', 8, 7, 56, 4, 23)

In [103]:
tup = (23,4,56,7,8,'apple','mango',False,'apple','mango',23,4,False)
print(tup)
print(type(tup))

(23, 4, 56, 7, 8, 'apple', 'mango', False, 'apple', 'mango', 23, 4, False)
<class 'tuple'>

In [105]:
tup = (23,4,56,7,8,'apple','mango',False)
tup[-1] = "hello"
tup

TypeError: 'tuple' object does not support item assignment

In [109]:
tup = (23,4,56,7,8)
li = list(tup)
print(li)
print(type(li))

li[2] = "changed"

new_tup = tuple(li)
print(new_tup)
print(type(new_tup))

[23, 4, 56, 7, 8]
<class 'list'>
(23, 4, 'changed', 7, 8)
<class 'tuple'>

In [110]:
tup = (23,4,56,7,8,'apple','mango',False)
i = tup.index(8)
print(i)

4

In [ ]:
#Count etc

In [112]:
tup = (23,4,56,7,8,('apple','mango','cherry'),False)
tup[5][0]

'apple'