Set
unordered ,unchangeable and do not allow duplicates

In [9]:
s1 = {33,45,56.78,90}
s1

{33, 45, 56.78, 90}

In [21]:
# Unique value from both tables no duplicates

a1= {1,2,3,4}
a2 ={6,7,8,2,3}
a3 = a1.union(a2)
a3

{1, 2, 3, 4, 6, 7, 8}

In [15]:
# Common value from both tables
a3 = a1.intersection(a2)
a3

{2, 3}

In [1]:
# a-b ledt table exist and right it is not
a1= {1,2,3,4}
a2 ={6,7,8,2,3}
a3 = a1.difference(a2)
a3

{1, 4}

In [3]:
#add new val
s1 = {'aa','bb','cc'}
s1.add("Blue")
s1

{'Blue', 'aa', 'bb', 'cc'}

In [44]:
# combain two sets
s1 = {'aa','bb','cc'}
s2 = {'blue','green'}
s1.update(s2)
s1

{'aa', 'bb', 'blue', 'cc', 'green'}

In [46]:
abc = {'aa', 'bb', 'blue', 'cc', 'green'}
abc.remove('cc')
abc

{'aa', 'bb', 'blue', 'green'}

JOIN

In [48]:
# union() -> new set with all the values from both the set without repeatation

s1 = {2,3,4,5}
s2 = {4,5,6,7,8}
s3 = s1.union(s2)
print(s3)

{2, 3, 4, 5, 6, 7, 8}

In [50]:
# intersection()-> common values from both the sets
s1 = {2,3,4,5}
s2 = {4,5,6,7,8}
s3 = s1.intersection(s2)
print(s3)

{4, 5}

In [52]:
# difference()->
s1 = {2,3,4,5,10,56}
s2 = {4,5,6,7,8}
s3 = s1.difference(s2)
print(s3)

{56, 10, 2, 3}