Tuple
ordered , unchangeable , allow duplicates

In [5]:
tup = (23,4,56,7,8,'apple','mango',False)
print(tup)

(23, 4, 56, 7, 8, 'apple', 'mango', False)

In [9]:
tup = (23,4,56,7,8,'apple','mango',False)
print(tup[-2])
print(tup[1:-3+1])
print(tup[::-1])

mango
(4, 56, 7, 8, 'apple')
(False, 'mango', 'apple', 8, 7, 56, 4, 23)

In [11]:
# Allow Duplicates
tup = (23,4,56,7,8,'apple','mango',False,'apple','mango',23,4,False)
print(tup)
print(type(tup))

(23, 4, 56, 7, 8, 'apple', 'mango', False, 'apple', 'mango', 23, 4, False)
<class 'tuple'>

In [13]:
# we cant not update tuple but we can convert the tuple to list and do changes and revert back to tuple
tup = (23,4,56,7,8)
li = list(tup)
print(li)
print(type(li))

li[2] = "changed"

new_tup = tuple(li)
print(new_tup)
print(type(new_tup))

[23, 4, 56, 7, 8]
<class 'list'>
(23, 4, 'changed', 7, 8)
<class 'tuple'>

In [35]:
# Nested Tuple
tup = (23,4,56,7,8,('apple','mango','cherry'),False)
print(tup[5][:])
print(tup[5][1])

('apple', 'mango', 'cherry')
mango

In [ ]:
#Write a Python program to find the length of a tuple.
#Write a Python program to concatenate two tuples.
#Write a Python program to check if an element exists in a tuple.
#Write a Python program to iterate through a tuple and print each element.
#Write a Python program to find the index of an element in a tuple.
#Write a Python program to convert a tuple to a list.
#Write a Python program to find the maximum and minimum elements in a tuple.

In [37]:
#Write a Python program to find the length of a tuple.
t1 =(10,20,30,40)
len(t1)

4

In [49]:
#Write a Python program to concatenate two tuples.
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6, 7, 8)

In [77]:
#Write a Python program to check if an element exists in a tuple.
t1 =(10,20,30,40)

if 30 in t1:
    print("Element Exist")

Element Exist

In [1]:
#Write a Python program to iterate through a tuple and print each element.

t2= (40,50,60,70,'nagu','sanav')

for i in t2:

    print(i)

40
50
60
70
nagu
sanav

In [99]:
t2= (40,50,60,70,'nagu','sanav')
len(t2)

6

In [105]:
#Write a Python program to find the index of an element in a tuple.
t2= (40,50,60,70,'nagu','sanav')

t2.index(70)

3

In [109]:
#Write a Python program to convert a tuple to a list.
t4 = (40,50,60,70,'nagu','sanav')

t5 = list(t4)
t5

[40, 50, 60, 70, 'nagu', 'sanav']

In [121]:
#Write a Python program to find the maximum and minimum elements in a tuple.
t4 = (40,50,60,70)

print(max(t4))
print(min(t4))

70
40

In [125]:
s1 = (45,12,78,5,'aa','bb','aa',32,45,98,98,67.67,64.34,True)
print(s1)

(45, 12, 78, 5, 'aa', 'bb', 'aa', 32, 45, 98, 98, 67.67, 64.34, True)

In [5]:
t5 = (66,88,99,44,33)
t5[3]='nagu'

TypeError: 'tuple' object does not support item assignment